free-gift {
  display: block;
  padding: calc(var(--inner) / 2) var(--inner);
  border-bottom: 1px solid var(--border);
}

.cart__footer__notes free-gift {
  padding-left: 0;
  max-width: 420px;
}

.free-gift__image-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity .3s;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: inherit;
  transform: translateZ(0);
  overflow: hidden;
}

.free-gift__image-wrapper img {
  width: auto;
  height: 100%;
}

.cart__item--gift {
  padding: 0;
  margin-top: 1rem;
}

.free-gift__price-wrapper {
  margin-left: auto;
}

.cart-progress__multi {
  margin-bottom: 1rem;
}

.cart-progress__steps,
.cart-progress__step {
  display: flex;
}

.cart-progress__step {
  flex-direction: column;
  align-items: center;
}

.cart-progress__step--label {
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.cart-progress__bar {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: #f8f8f8;
  margin: 0.5rem 0;
  position: relative;
}

.cart-progress__bar--fill {
  height: 100%;
  background: var(--COLOR-PRIMARY);
  border-radius: 50px;
  width: var(--progress-width);
}

.threshold-indicator {
  position: absolute;
  top: 0;
  background: transparent;
  border-right: 2px solid var(--COLOR-PRIMARY);
  border-radius: 0;
}

.cart-progress__bar--label {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.free-gift__heading {
  font-size: calc(.815rem * var(--adjust-body));
}

.cart-progress__multi .free-gift__heading {
  text-align: center;
}

.cart-progress__free-product {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  margin-bottom: 1rem;
}

.free-product__image-wrapper {
  position: relative;
  width: 96px;
  height: 150px;
}

.cart-progress__free-product img {
  width: 96px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.cart-progress__free-product--info {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-progress__free-product--title {
  margin: 0;
}

.product-cart-item-info .cart-progress__free-product--price {
  display: flex;
  gap: 0.5rem;
}

free-gift ins {
  text-decoration: none;
}

.cart-progress__free-product--variant-select-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: auto;
}

.cart-progress__checkbox--wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.cart-progress__free-product--add,
.cart-progress__free-product--variant-select {
  padding: 10px 15px;
  height: 40px;
}
